extends ../layout

block content
    a(href='/trabajos') Volver

    br
    br
    br
    
    h1 Nuevo trabajo

    br
    br

    form(action='/trabajos/create' method='post')
        label(for="id") ID:
        input#id(type='text' name='id')
        br

        label(for="tipo") Tipo:
        input#tipo(type='text' name='tipo')
        br

        label(for="valor") Valor:
        input#valor(type='text' name='valor')
        br

        label(for="lat") Latitud:
        input#latitud(type='text' name='lat')
        br

        label(for="lng") Longitud:
        input#longitud(type='text' name='lng')
        br
        br
        input.btn(type="submit" value='OK')