extends ../layout

block content
    a(href='/trabajos/create') Nuevo trabajo

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Tipo
                th(scope='col') Valor
                th(scope='col') Ubicacion
                th(scope='col') 
                th(scope='col') 
        tbody
            each trabajo in trabajosLista
                tr
                    td(scope='row')
                        = trabajo.id
                    td= trabajo.tipo
                    td= trabajo.valor
                    td= trabajo.ubicacion
                    td
                        a(href='/trabajos/update/'+trabajo.id) Editar
                    td
                        form.inLine(method='post' action='/trabajos/delete/'+ trabajo.id)
                            input(type='hidden' name='id' value=trabajo.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='bin')
                                = 'Eliminar'