extends ../layout

block content
    a(href='/trabajos') Volver

    br
    br
    br
    
    h1 Editando trabajo

    br
    br

    form(action=`/trabajos/update/${trabajo.id}` method='post')
        label(for="id") ID:
        input#id(type='text' name='id' value=trabajo.id)
        br

        label(for="tipo") Tipo:
        input#tipo(type='text' name='tipo' value=trabajo.tipo)
        br

        label(for="valor") Valor:
        input#valor(type='text' name='valor' value=trabajo.valor)
        br

        label(for="lat") Latitud:
        input#latitud(type='text' name='lat' value=trabajo.ubicacion[0])
        br

        label(for="lng") Longitud:
        input#longitud(type='text' name='lng' value=trabajo.ubicacion[1])
        br
        br
        input.btn(type="submit" value='OK')